@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");

/* Global Styles */
button {
  border: none;
}

/* Given list Styles */
.listStyle {
  display: list-item;
  margin-bottom: 20px;
  list-style-type: none
}

.list-view {

  width: 749px;
  height: 100px;
  left: 374px;
  top: 248px;
}

.city {

  width: 59px;
  height: 17px;
  left: 508px;
  top: 300px;
}

.card-name {

  width: 127px;
  height: 21px;
  left: 508px;
  top: 276px;
}

.contact-name {
  position: absolute;
  height: 21px;
  left: 140px;
  top: 25%;

  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}

.contact-city {
  position: absolute;
  height: 17px;
  left: 140px;
  top: 50%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #292929;
}

.avatar-given {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 30px;
  top: 20px;
  background-color: transparent;
}

.picture1 {

  width: 80px;
  height: 80px;
  left: 405px;
  top: 260px;

  background: url(./icons/phone.png);
}

.eclipse {

  width: 80px;
  height: 80px;
  left: 405px;
  top: 260px;

  background: #FFFFFF;
}

.contact-given {
  position: absolute;
  width: 75px;
  height: 30px;
  right: 20px;
  top: 40%;
  display: inline-flex;

}

.mail-given {

  left: 0.07%;
  right: 0.07%;
  top: 0%;
  bottom: 0%;
  width: 50%
}

.phone-given {

  left: 0.07%;
  right: 0.07%;
  top: 0%;
  bottom: 0%;
  width: 50%
}



.card-background {
  position: relative;
  width: 749px;
  height: 100px;
  margin-bottom: 20px;
}

.groupe1 {
  position: absolute;
  width: 60px;
  height: 51px;
  left: 73px;
  top: 0px
}

.rectangle14 {
  position: absolute;
  width: 60px;
  height: 51px;
  background: #FFFFFF;
  border-radius: 42px 0px 0px 0px;
}

.rectangle13 {
  position: absolute;
  width: 60px;
  height: 51px;
  background: #A7B8A8;
}

.rectangle12 {

  width: 73px;
  height: 100px;
  background: #A7B8A8;
  border-radius: 20px 0px 0px 20px;
}

.rectangle11 {
  position: absolute;
  width: 749px;
  height: 100px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}


/* Given grid Styles */
.gridStyle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  width: inherit
}

.contact-grid-name {
  position: relative;
  top: 60px;
  font-family: Karla;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #292929;
}

.contact-grid-city {
  position: absolute;
  left: 40%;
  right: 5%;
  top: 70%;
  width: fit-content;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  line-height: 17px;
  color: #292929;
}

.contact-grid-given {
  position: absolute;
  width: 75px;
  left: 35%;
  top: 80%;
  display: inline-flex;
}

.mail-grid-given {
  left: 0.07%;
  right: 0.07%;
  top: 0%;
  bottom: 0%;
  width: 50%
}

.phone-grid-given {
  left: 0.07%;
  right: 0.07%;
  top: 0%;
  bottom: 0%;
  width: 50%
}


.avatar-grid-given {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 60px;
  top: 120px;
}

.round-grid-img {
  border-radius: 50%;
}

.card-grid-background {
  position: relative;
  width: 210px;
  height: 342px;
  margin-bottom: 20px;
}

.rectangle1 {
  position: absolute;
  width: 210px;
  height: 342px;
  background: #E3D5C9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.rectangle8 {
  position: absolute;
  width: 210px;
  height: 164px;
  top: 176px;
  background: #FFFFFF;
  border-radius: 42px 0px 20px 20px;
}

.rectangle9 {
  position: absolute;
  width: 90px;
  height: 84px;
  top: 93px;
  left: 120px;
  background: #FFFFFF;
}

.rectangle10 {
  position: absolute;
  width: 90px;
  height: 84px;
  top: 93px;
  left: 120px;
  background: #E3D5C9;
  border-radius: 0px 0px 42px 0px;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  width: inherit;
}

body {
  font-family: 'Inconsolata', monospace;
  background-color: #eee9e9;
  align-items: center;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

/* Utilities */
.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.search_container {

  display: -webkit-box;
}

.search-img {
  width: 20px;
}

/* Text Styles*/
.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-success {
  color: var(--success-color);
}

.text-danger {
  color: var(--danger-color);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Center All */
.all-center {

  flex-direction: column;
  width: 1000px;
  margin-top: 70px;
  margin-left: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Cards */
.cards {
  width: min-content;
  margin-top: 70px;
  margin-left: 70px;

}

.card {
  margin: auto;
  top: 0;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(240, 237, 237, 0.966);
  background: white;
  overflow: hidden;
}

.list-card {
  margin-bottom: 20px;
  top: 0;
  width: 100%;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgba(240, 237, 237, 0.966);
  background: white;
  display: inline-flex;


}



/* List */
.list {
  margin: 0.5rem 0;
}

.list li {
  padding-bottom: 0.3rem;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  width: 650px;
}

.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

.arrows {

  display: flex;
  flex-direction: row;
  margin: 2px;
}

.arrow {
  height: 100%;
  text-align: center;
}

.contact {

  width: 80px;
  height: 30px;
  display: inline-flex;
}

.contact-item {
  width: 80%;
  height: 80%;
  margin-left: 10px;
}

.arrow:hover {
  transform: scale(1.5);
}


.round-img {
  border-radius: 50%;
}

/* Forms */
input {
  margin: 0;
  width: 600px;
  height: 30px;
  background: transparent;
  border: none;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}



/* Navbar */
.navbar {
  position: relative;
  display: flex;
  width: 733px;
  height: 24px;

}

.title {
  position: relative;
}



/* Mobile Styles */

@media (max-width: 700px) {
  .all-center {

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 90px;
    max-width: 250px;
  }
  .arrows{
    width: 20px;
    height:20px;
    margin-right: 20px;
  }
  .arrow{
    width: inherit;
    height: inherit;
  }
  button{
    width: 20px;
    height:20px;
  }
  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  /*grid media */
  .title {
    max-width: 200px;
  }

  .contact-grid-name {
    position: relative;
    top: 30px;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 18px;
    color: #292929;
  }

  .avatar-grid-given {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 35px;
    top: 68px;
  }

  .contact-grid-given {
    position: absolute;
    width: 60px;
    left: 35%;
    top: 90%;
    display: inline-flex;
  }

  .contact-grid-city {
    left: 40%;
    right: 5%;
    top: 80%;
    font-size: 10px;
    line-height: 10px;
  }

  .round-grid-img {
    border-radius: 50%;
    width: inherit;
  }

  .card-grid-background {
    position: relative;
    width: 105px;
    height: 171px;
    margin-bottom: 20px;
  }

  .rectangle1 {
    position: absolute;
    width: 105px;
    height: 171px;
    background: #E3D5C9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }

  .rectangle8 {
    position: absolute;
    width: 105px;
    height: 82px;
    top: 100px;
    background: #FFFFFF;
    border-radius: 42px 0px 20px 20px;
  }

  .rectangle9 {
    position: absolute;
    width: 45px;
    height: 42px;
    top: 59px;
    left: 60px;
    background: #FFFFFF;
  }

  .rectangle10 {
    position: absolute;
    width: 45px;
    height: 42px;
    top: 58px;
    left: 59px;
    background: #E3D5C9;
    border-radius: 0px 0px 42px 0px;
  }


  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  input {
    margin: 0;
    background: transparent;
    border: none;
    width: 100px;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    max-width: 160px;
  }

  .cards {
    width: min-content;
    margin-top: 70px;
    margin-left: 0px;
  }

  body {
    font-family: 'Inconsolata', monospace;
    background-color: #eee9e9;
    align-items: center;
    overflow-x: hidden !important;
  }

  .hide-sm {
    display: none;
  }

  .gridStyle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: inherit
  }


  /* Text Styles */
  .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 1rem;
  }

  .lead {
    font-size: 1rem;
  }

  /* Navbar */
  .navbar {
    display: inline-flex;
    text-align: center;

  }

  /*list media */
  .contact-given{
    width: 40px;
  }
  .contact-name{
    font-size: 10px;
    left: 100px;
  }
  .contact-city{
    font-size: 10px;
    left: 100px;
  }
.card-background{
  width: 250px;
  height: 60px;
}
  .rectangle11 {
    width: 250px;
    height: 60px;
  }
  .avatar-given{
    width: 50px;
    height: 50px;
    left: 40px;
    top: 8px;
  }

  .rectangle12 {
    height: 60px;
  }

  .round-img {
    width: inherit;
  }

}